<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div style="display: flex;flex-direction: column; align-items: center;justify-content: center;">
    <h1>Onde você encontra os melhores eletrônicos </h1>
    <p>Entre e confira nossos preços!!</p>
</div>
<%- include ('partials/footer.ejs') %>