body {
    background-color: #f1f1f1;
}
:root{
    --background-color:#C9D1D3;
    --color-font:#F7F7F7;
    --color-btn:#9DD3DF;
    --footer:#3B3737;
    --color:#991818;
    --font-nav:#411c1cf3;
}

ul {
    list-style: square;
    line-height: 30px;
}

a {
    color:var(--color-font);
    text-decoration: none;
    padding: 20px;
}

th, td {
    padding: 10px;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;  
    height: 5rem;
    background:var(--footer) ; 
    margin-bottom: 0;
}
footer h6 
{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    text-align: center;
}
nav
{
    background:var(--footer) ; 
    
}
.navbar-nav a{
    color: var(--font-nav);
}