
:root{

    --background-color:background: linear-gradient(90deg, rgba(65,28,28,1) 2%, rgba(255,255,255,1) 100%);;
    --color-font:#F7F7F7;
    --color-btn:#9DD3DF;
    --footer:#3B3737;
    --color:#991818;
    --font-nav:#411c1cf3;
}
body {
    background: rgb(65,28,28);
    background: linear-gradient(90deg, rgba(65,28,28,1) 2%, rgba(255,255,255,1) 100%);
    height: 100vh;
}
.conteiner
{
    position: absolute;
    height: 100%;
    margin: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
td,tr
{
    padding: 10px;
    margin: 10px;
    color: var(--color-font);
}
label
{
    color: var(--color-font);
}
h1
{
    font-size: 4rem;
    text-align: center;
}
h3
{
    text-align: center;
}
p
{
     font-size: 2rem;
    
}
a
{
    font-size: 2rem;
}
.card-header
{
    height: 50%;
}
.card-body
{
    height: 50%;
    background-color: var(--font-nav);
    justify-content: center;
    align-items: center;
}
.card-body ul 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.card-body ul li a
{
    text-decoration: none;
}

.pages
{
   
    position: relative;
    color: #9DD3DF;
    height: 100%;
   border-radius: 10px;
  
}
.pages:hover
{
    background: radial-gradient(circle, rgba(128,74,98,1) 0%, rgba(135,135,135,1) 350%);
    transition: .3s;
    box-shadow: 2px 0px 33px 0px rgba(0,0,0,0.59);
    
}
.form-produto 
{
    position: absolute;
    margin: 50px;
}
.nome-produto
{
    color: var(--color-font);
}