<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    
        <div class="jumbotron">
            <br>
            <h1 class="display-5"><strong>Bem-vindo(a) ao painel administrativo Arsenal!</strong></h1>
            <p class="lead" style="display: flex; align-items: center;justify-content: center;">Através desse painel é possível listar as tabelas de clientes, produtos e pedidos.</p>
            <hr class="my-4">
            <p class="currentDate"></p>
            </p>         
            <p class="lead" style="display: flex;justify-content: center;align-items: center;">
              <a class="btn btn-info btn-lg" href="/pedidos" role="button">Verificar pedidos</a>
            </p>                                                                                
          </div>
        <hr>
        <div class="card">
            <div class="card-header">
                <h3>Para onde deseja ir?</h3>
            </div>
            <div class="card-body">
                <ul>
                    <li><a class="pages"  href="/">Home</a></li>
                    <li><a class="pages" href="/clientes">Clientes</a></li>
                    <li><a class="pages" href="/produtos">Produtos</a></li>
                    <li><a class="pages" href="/pedidos">Pedidos</a></li>
                </ul>
            </div>
        </div>
    </div>
    
<%- include ('partials/footer.ejs') %>
