<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>


<h1>Todos os periféricos de ultima geração voce encontra aqui</h1>
<p>Entre e confira nossos preços!!</p>

<%- include ('partials/footer.ejs') %>