<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <h1>Bem vindo ao Perfil</h1>
    <hr>
    <h3>Iniciando estudos com Node.js e Express.</h3>
    <p>Essa página está sendo renderizada com EJS no Epress</p>
    <p style="color:brown;font-size: 40px;"></p>
</body>
</html>